######################################################################################################################
sudo apt update && sudo apt upgrade
sudo apt install unattended-upgrades apt-listchanges
sudo editor /etc/apt/apt.conf.d/50unattended-upgrades
sudo dpkg-reconfigure -plow unattended-upgrades
sudo editor /etc/apt/apt.conf.d/20auto-upgrades
sudo su
echo unattended-upgrades unattended-upgrades/enable_auto_updates boolean true | debconf-set-selections
exit
sudo dpkg-reconfigure -f noninteractive unattended-upgrades
sudo unattended-upgrades --dry-run
######################################################################################################################
sudo apt update
sudo apt install unattended-upgrades
sudo systemctl status unattended-upgrades.service
!---------------------------------------------------------------
Output
● unattended-upgrades.service - Unattended Upgrades Shutdown
     Loaded: loaded (/lib/systemd/system/unattended-upgrades.service; enabled; vendor preset: enabled)
     Active: active (running) since Mon 2022-02-14 17:51:49 UTC; 3h 4min ago
       Docs: man:unattended-upgrade(8)
   Main PID: 829 (unattended-upgr)
      Tasks: 2 (limit: 1137)
     Memory: 10.6M
     CGroup: /system.slice/unattended-upgrades.service
!---------------------------------------------------------------
######################################################################################################################