sudo apt update && sudo apt upgrade
sudo apt install unattended-upgrades apt-listchanges
sudo editor /etc/apt/apt.conf.d/50unattended-upgrades
sudo dpkg-reconfigure -plow unattended-upgrades
sudo editor /etc/apt/apt.conf.d/20auto-upgrades
sudo su
echo unattended-upgrades unattended-upgrades/enable_auto_updates boolean true | debconf-set-selections
exit
sudo dpkg-reconfigure -f noninteractive unattended-upgrades
sudo unattended-upgrades --dry-run